  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<% provide(:title, "About") %>
<h1>About this Site</h1>
<p>My name is Lee, and I am an aspiring web programmer. This is my example site built with the use of Michael Hartl's Ruby on Rails Tutorial
and enhanced with added coding. This is a fully-functioning microblogging site with user sign-up, email authentication and password-reset 
validation, and SSL throughout for added security. Users can make their own posts, both in (automatically-resized) image format or in text 
format, limited to 140 characters. There is a functioning follow and unfollow system, as well as a transformative home page that shows the 
current user's subscribed feed. </p>

<p>This site makes use of the Ruby language and Rails framework. There are also several quality-of-life enhancements made via the use of 
JavaScript through JQuery, most notably through the implementation of a drop-down header menu when the user is logged in.</p>

<p>I invite you to make a dummy account and look around! </p>

<p>
  The <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> is a
  <a href="http://www.railstutorial.org/book">book</a> and
  <a href="http://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="http://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>